*{
    margin: 0;
    padding: 0;
}
.header {
    grid-area:header;
    background:yellow;
}
.navbar{
    grid-area:navbar;
    background:black;
}

.main{
    grid-area:main;
    background:green;
}
.right{
    grid-area:right;
    background:red;
}
.footer{
    grid-area:footer;
    background:gray;
}
.grid{
    display: grid;
    grid-template-areas:
        "header header header"
        "item4 navbar item6"
        "item7 main right"
        "item10 footer item12";
        grid-gap:5px;
        grid-template-columns: 1fr 4fr 1fr;
        grid-auto-rows: minmax(100px 1fr)
}
.grid div {
    background-color: #283114E;
    border:1px solid #212941;
    border-radius: 5px;
}
.navbar ul li{
    display: inline;
}